.serviceBox {
  width: 32rem;
  min-height: 23.2rem;
  padding: 2.8rem 3.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.48rem;
  box-shadow: 0 0.4rem 1rem var(--grayish-blue);
  gap: 40px;
  flex-shrink: 1;
}
.textBox {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  font-size: 1.83rem;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.text {
  font-size: 1.275rem;
  line-height: 1.75;
  color: var(--grayish-blue);
}

.img {
  width: 6.4rem;
  height: 6.4rem;
  align-self: flex-end;
}
